#section{
    height: 600px;
    width: 100%;
    background-color: antiquewhite;
}


#square{
    height: 100px;
    width: 100px;
    margin-left: 10%;
    background-color: chartreuse;
    margin-top: 10%;
    position: absolute;
    transform: rotate(20deg); 
    transition: 1s ease-in-out 0.5s;
    


}

#square:hover{

    height: 200px;
    width: 200px;

}

