#learn_active{
    height: 400px;
    background-color: bisque;
}
#learn_active h1{
    text-align: center;
    color: chocolate ; 
}
#learn_active a :active{
    color: red;
    background-color: green;
}
#learn_active p :active{
    background-color: yellow;
}
