#learn_active{
    height: 600px;
  
}
#learn_active h1{
    text-align: center;
    color: rgb(235, 231, 228) ; 
}
#learn_active a :active{
    color: red;
    background-color: green;
}
 p :active{
    background-color: yellow;
}
section:target{
    background-color: chocolate;
    
}
