#learnafterBefore{
    height: 600px;
    background-color: rgb(209, 123, 18);
}

#frist::first-letter{
    font-size: 100px;
    font-weight: 100;
    font-style: italic;
    text-transform: capitalize;
}
p::before{
    content: 'before';
    text-transform: capitalize;
}
p::after{
    content: '';
    background-image: url(../images/pg.png);
    height: 60px;
    width: 60px;
    display: inline-block;
    background-size: contain;

    text-transform: capitalize;
}
li::before{
    content: '';
    background-image: url(../images/pg.png);
    height: 20px;
    width: 20px;
    display: inline-block;
    background-size: contain;

    text-transform: capitalize;
}

#time-line-section{
    height: 600px;
    background-color: wheat;
    position: relative;

}
#time-line-section #head{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
    text-shadow: 10cap;
}

#timeline{
    
     border: 2px solid black;
     width: 75%;
    height: 75%;
    margin-left: 10%;
    position: relative;
    

}

#timeline-box{
    border: 2px solid black;
    position: relative;
    height: 20%;
    left: 5%;
    width: 40%;
    top:5% ; 
}
#timeline-box:nth-child(2n){
    left: 53%;
}
#timeline-diveder{

    height: 75%;
    position: absolute;
    top: 5%;
    left: 50%;
    border: 3px dashed red;
    width: 0;
    

}

#timeline-icon{
transform: rotate(90deg);
   position: sticky ;
 top: 1%;
 font-size: 40px;
 z-index: 2;
   
  
}
#timeline-box:nth-child(2n)::after{
    content: '';
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    background-color: rgb(18, 128, 48);
    position: absolute;
    top: 30%;
    left: -9%;
    z-index: 1;
    
}
#timeline-box:nth-child(2n+1)::after{
    content: '';
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    background-color: rgb(18, 128, 48);
    position: absolute;
    top: 30%;
    right: -15%;
    z-index: 1;
    
}




