.main{
    border: 2px solid red;
    margin: 20px;
    position: relative;
  
}
.child1{
    height: 200px ; 
    width: 200px;
    background-color: aqua;
    
    
}
.child2{
    height: 200px ; 
    width: 200px;
    background-color: rgb(145, 255, 0);
    position: sticky;
   left: 20px;
   top: 20px;
   
}
.child3{
    height: 200px ; 
    width: 200px;
    background-color: rgb(169, 111, 145);
    
}