.text{
    font-size: 20px;
    color:rgb(23, 130, 223) ;
    text-transform: uppercase;
    text-align: justify;
    font-weight: 100;
    line-height: 20px;
    text-decoration: underline;
    background-image: url('123.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    he

}